<footer class="page-footer">
    <div class="text-center py-3">
        <span>©</span> 2020 <strong>Pummarole</strong>.
        <div>
            Made by: <a href="https://carbadev.com"> <strong>Luis Carbajal</strong></a>.
        </div>
    </div>
</footer>