<div id="about">
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img width="250" class="img-fluid rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/3/34/Il_pomodoro.jpg" alt="ref_pom">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Pomodoro Technique?</h2>
                        <p>
                            The Pomodoro Technique is created by Francesco Cirillo for a more productive way to work and study. The technique uses a timer to break down work into intervals, traditionally 25 minutes in length, separated by short breaks. Each interval is known as a pomodoro, from the Italian word for 'tomato', after the tomato-shaped kitchen timer that Cirillo used as a university student.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5 text-center">
                        <img width="250" class="img-fluid" src="{{ asset('build/images/logo.png') }}" alt="logo">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Pummarole?</h2>
                        <p>The Pummarole App is a pomodoro timer inspired by Pomodoro Technique, the goal of the App is to help you focus on any task you want to work with.</p>
                        <p>What are you waiting for? <br> Try and improve your time, task, goal and life.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>